/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  color: #333;
  padding: 0 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-top: 1em;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}

p {
  margin: 1em 0;
}

a {
  color: #008;
}

a:hover {
  color: black;
}

a:visited {
  color: #006;
}

table {
  font-size: inherit;
  font: 100%;
}

blockquote {
  margin-left:1em;
}

::selection {
    color: white;
    background-color: #369;
}

.site {
  font-size: 110%;
  text-align: justify;
  max-width: 728px;
  margin: 3em auto 2em;
  line-height: 1.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6, .comments {
  text-align: left;
}

.title {
  color: #369;
  font-weight: bold;
  font-size: 1.5em;
}

a {
  color: #369;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a,
.site .footer .rss a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: 0em;
  float: right;
}

.site > ul {
  padding-left: 2em;
}

.site > ul > li {
  margin-bottom: 0.5em;
}

ul.libraries {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.libraries > li {
  position: relative;
  margin-bottom: 3em;
}

ul.libraries > li > p {
  margin: 1em 240px 1em 0;
}

.tags, .dependencies {
  color: #000;
  font-style: italic;
}

.version {
  font-size: 70%;
  color: #999;
}

ul.info {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 0.2em 0.5em 0;
  font-size: 90%;
  width: 16em;
}

ul.info > li {
  line-height: 1.5em;
  border-bottom: 1px solid #fff;
}

ul.info > li:last-child {
  border-bottom: none;
}

.highlight {
  padding: 5px 10px;
}

.install {
  font-size: 90%;
}

code {
  background-color: #eee;
  padding: 0 0.3em;
}

pre code {
  background-color: inherit;
  padding: 0;
}