---
layout: default
title: thx libraries
---

<div class="home">
  <p><a href="/api/">API doc</a></p>
  <ul class="libraries">
    {% for library in site.data.libraries %}
    <li>
      <h2>
        <a href="/lib/{{ library.name }}/">{{ library.name }}</a>
        <span class="version">v.{{ library.version }}</span>
      </h2>
      <ul class="info">
        <li><a href="{{ library.url }}"><i class="fa fa-github"></i> Github</a></li>
        <li><a href="/api/{{ library.path }}"><i class="fa fa-code"></i> API doc</a></li>
        <li class="list" title="tags">
          <i class="fa fa-tags"></i> <span class="tags">{{ library.tags | join:', ' }}</span>
        </li>
        {% if library.dependencies %}
        <li class="list" title="dependencies">
          <i class="fa fa-cubes"></i> <span class="">
          {% for item in library.dependencies %}
            <a href="/lib/{{ item[0] }}/">{{ item[0] }}{% if item[1].length %} ({{ item[1] }}){% endif %}</a>{% if forloop.last %}{% else %}, {% endif %}
          {% endfor %}
          </span>
        </li>
        {% endif %}
      </ul>
      <p>{{ library.description }}</p>
      <div class="install">Install:
        <div class="highlight"><pre><code>haxelib install {{ library.name }}</code></pre></div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>