---
layout: default
title: thx libraries
---

<div class="home">
  <p><a href="/api/">API doc</a></p>
  <ul class="libraries">
    {% for library in site.data.libraries %}
    <li>
      <h2>
        <a href="/lib/{{ library.name }}/">{{ library.name }}</a>
        <span class="version">v.{{ library.version }}</span>
      </h2>
      <ul class="info">
        <li><a href="{{ library.url }}"><i class="fa fa-github"></i> Github</a></li>
        <li><a href="/api/{{ library.path }}"><i class="fa fa-code"></i> API doc</a></li>
        <li>
          tags: 
          <ul class="tags">
            {% for tag in library.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <p>{{ library.description }}</p>
      <div>Install:
        <div class="highlight"><pre><code>haxelib install {{ library.name }}</code></pre></div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>