<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Franco Ponticelli" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
</head>
<body>
  <div class="site">
    <div class="title"><a href="/">thx libraries</a></div>
    <ul class="info">
      <li><a href="{{ page.url }}"><i class="fa fa-github"></i> Github</a></li>
      <li><a href="/api/{{ page.path }}"><i class="fa fa-code"></i> API doc</a></li>
      <li>version {{ page.version }}</li>
      <li>
        tags: 
        <ul class="tags">
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {{ content }}
    <div class="footer">
      <div class="contact">
        <p>
          copyright © Franco Ponticelli
        </p>
      </div>
    </div>
  </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-589893-18']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
<html>