<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Franco Ponticelli" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="all" />
<!--  <base href="https://github.com/fponticelli/{{ page.title }}/" /> -->
</head>
<body>
  <div class="site">
    <div class="title"><a href="/">thx libraries</a></div>
    <ul class="info">
      <li><a href="https://github.com/fponticelli/{{ page.title }}"><i class="fa fa-github"></i> Github</a></li>
      <li><a href="/api/{{ page.path }}"><i class="fa fa-code"></i> API doc</a></li>
      <li title="version"><i class="fa fa-at"></i> {{ page.version }}</li>
      <li class="list" title="tags">
        <i class="fa fa-tags"></i> <span class="tags">{{ page.tags | join:', ' }}</span>
      </li>
      {% if page.dependencies %}
      <li class="list" title="dependecies">
        <i class="fa fa-cubes"></i>  <span class="dependencies">
        {% for item in page.dependencies %}
          <a href="/lib/{{ item[0] }}/">{{ item[0] }}{% if item[1].length %} ({{ item[1] }}){% endif %}</a>{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}
        </span>
      </li>
      {% endif %}
    </ul>
    {{ content }}
    <div class="footer">
      <div class="contact">
        <p>
          copyright © Franco Ponticelli
        </p>
      </div>
    </div>
  </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-589893-18']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
<html>